.darkModeToggle {
  position: absolute;
  cursor: pointer;
  z-index: 8;
  padding-top: 4px;
  right: 255px;
  top: 15px;
  border: 0;
  background: 0;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
  border-radius: 4px;
  height: 36px;
  width: 50px;
}

.icon {
  font-size: 1.2rem;
}
