@import "../../../../styles/fadeIn.scss";
@import "../../../../styles/variables.scss";

.stateDetails {
  @extend .fadeIn;
  position: absolute;
  max-width: calc(100vw - 24px);
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
  height: 300px;
  max-height: 50vh;
  border-radius: 3px;
  overflow-y: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 8px;
  z-index: 12;
}

.container {
  justify-self: center;
  margin: auto;
  text-align: center;
}

.inputPrompt {
  margin-top: 5%;
  display: inline-block;
  text-align: center;
}

.inputLabel {
  display: block;
  text-align: start;
  font-size: 0.95rem;
  margin-bottom: 0px;
  margin-left: 12px;
}

.input {
  display: inline-block;
  border-radius: 2px;
  height: 1.9rem;
  width: 225px;
  border: 0;
  padding-left: 10px;
  box-shadow: 0.5px 0.5px 3px 0.5px $primary-color;
  margin: 4px auto 1rem auto;
  text-align: start;
  font-weight: bold;
  font-size: 1.15em;
}
