@import "../../styles/fadeIn.scss";
@import "../../styles/variables.scss";

.howToContainer {
  @extend .fadeIn;
  position: absolute;
  top: calc(200px + 4vh);
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;

  width: 20vw;
  max-width: 350px;
  max-height: 70vh;
  border-radius: 4px;
  overflow-y: auto;
  background-color: white;
  margin-top: 2vh;
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 2rem;
  z-index: 0;
  text-align: center;
}

.moreInfoButton {
  border: none;
  background: none;
  cursor: pointer;
  transition: 300ms;
}

.moreInfoButton:hover {
  color: $primary-color;
}
