@import "../../styles/fadeIn.scss";

.pseudoCodePanel {
  position: absolute;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
  max-width: 350px;
  border-radius: 4px;
  overflow-y: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 8px;
  z-index: 3;
}
