@import "../../styles/fadeIn.scss";

.pseudoCodePanel {
  // @extend .fadeIn;
  position: absolute;
  // left: 1rem;
  // top: 2vh;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
  //height: 200px;
  //width: 275px;
  max-width: 350px;
  border-radius: 4px;
  overflow-y: auto;
  background-color: white;
  // margin-top: 2vh;
  box-sizing: border-box;
  padding: 8px;
  z-index: 3;

  /*@extend .fadeIn;
  position: absolute;
  max-width: calc(100vw - 24px);
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
  height: 300px;
  max-height: 50vh;
  border-radius: 3px;
  overflow-y: auto;
  background-color: green;
  box-sizing: border-box;
  padding: 8px;
  z-index: 12;*/
}
