.playerContainer {
  margin: auto;
  margin-bottom: 2rem;
  max-width: 85vw;
  width: 640px;
  height: 360px;
  box-shadow: gray 0 0 5px;
}

.image {
  width: 75ch;
  max-width: 80vw;
  box-shadow: grey 0 0 5px;
}
