@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.2/katex.min.css");

.articleWidth {
  width: 75ch;
  max-width: 80vw;
}

.container {
  @extend .articleWidth;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 5px;
  flex-basis: 100%;
}

.date {
  font-size: 1.11rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1, 5rem;
  opacity: 0.75;
}

.thumbnail {
  @extend .articleWidth;
  box-shadow: gray 0 0 5px;
}

.readTime {
  text-align: center;
  opacity: 0.75;
  font-size: 1rem;
}

.readTimeIcon {
  font-size: 1.3rem;
  padding-top: 8px;
}

.articleContent {
  @extend .articleWidth;
  line-height: 1.6rem;
}
